prometheus:
  prometheusSpec:
    retention: 7d
    serviceMonitorSelectorNilUsesHelmValues: false

    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: "{{ prom_storage_class }}"
          accessModes: [ "ReadWriteOnce" ]
          resources:
            requests:
              storage: 20Gi

grafana:
  enabled: true

  admin:
    existingSecret: grafana-admin-creds
    userKey: admin-user
    passwordKey: admin-password

alertmanager:
  enabled: "{{ prom_alertmanager_enabled | default(true) }}"

nodeExporter:
  enabled: "{{ prom_node_exporter_enabled | default(true) }}"

kubeStateMetrics:
  enabled: "{{ prom_kube_state_metrics_enabled | default(true) }}"

