# Ingress Rule for exposing the Longhorn UI
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: longhorn-ingress
  namespace: {{ k3s_longhorn_namespace }}
  annotations:
    # Use TLS and entry via HTTPS
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"

    # Use the Basic Auth Middleware configured during installation of Traefik
    traefik.ingress.kubernetes.io/router.middlewares: {{ k3s_traefik_namespace }}-basic-auth@kubernetescrd

    # Use cert-manager to automatically create the SSL certificate
    cert-manager.io/cluster-issuer: {{ tls_issuer }}-issuer
    cert-manager.io/common-name: {{ longhorn_dashboard_dns }}
spec:
  tls:
    - hosts:
        - {{ longhorn_dashboard_dns }}
      secretName: longhorn-tls
  rules:
    - host: {{ longhorn_dashboard_dns }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: longhorn-frontend
                port:
                  number: 80