# These resources define the self-signed certificate authority (CA)
#
---
# This defines a self-signed issuer in Kubernetes
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: self-signed-issuer
spec:
  selfSigned: { }

---
# Defines a certificate resource for the CA that will be used to issue self-signed certificates.
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ private_ca }}-cert
  namespace: {{ k3s_cert_manager_namespace }}
spec:
  isCA: true
  duration: 8760h # Valid for 1 year
  renewBefore: 720h # Renew before 30 days of expiration
  commonName: {{ private_ca }}
  secretName: {{ private_ca }}-secret
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: self-signed-issuer
    kind: ClusterIssuer
    group: cert-manager.io

---
# Defines an issuer to generate TLS certificates for subdomains.
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: {{ local_tls_issuer }}
spec:
  ca:
    secretName: {{ private_ca }}-secret