# This defines the YAML configuration files necessary for the OpenSearch Security plugin.
# See https://github.com/opensearch-project/security/tree/main/config
#
# Take care not to override static roles, action groups tenants etc. They are reserved by the plugin and can be found at
# https://github.com/opensearch-project/security/tree/main/src/main/resources/static_config
---
apiVersion: v1
kind: Secret
metadata:
  name: opensearch-security-config-secret
  namespace: {{ k3s_opensearch_namespace }}
type: Opaque
stringData:
  config.yml: |
    ---
    _meta:
      type: "config"
      config_version: 2

    config:
      dynamic:
        http:
          anonymous_auth_enabled: false
        authc:
          basic_internal_auth_domain:
            description: "Internal user authentication via HTTP Basic"
            http_enabled: true
            transport_enabled: true
            order: 0
            http_authenticator:
              type: basic
              challenge: true
            authentication_backend:
              type: internal

  internal_users.yml: |
    ---
    _meta:
      type: "internalusers"
      config_version: 2

    admin:
      hash: "{{ opensearch_admin_password_hash }}"
      reserved: true
      backend_roles:
        - "admin"
      description: "Admin user"

    kibanaserver:
      hash: "{{ opensearch_kibanaserver_password_hash }}"
      reserved: true
      backend_roles:
        - "kibana_server"
      description: "OpenSearch Dashboards internal server user"

    kibanaro:
      hash: "{{ opensearch_kibanaro_password_hash }}"
      reserved: false
      backend_roles:
        - "kibanauser"
        - "readall"
      description: "OpenSearch Dashboards read-only user"

    logger:
      hash: "{{ opensearch_logger_password_hash }}"
      reserved: false
      backend_roles:
        - "logstash"
        - "fluentbit"
      description: "Log ingestion user"

    snapshotrestore:
      hash:  "{{ opensearch_snapshotrestore_password_hash }}"
      reserved: false
      backend_roles:
        - "snapshotrestore"
      description: "Snapshot restore user, using external role mapping"

  roles.yml: |
    ---
    _meta:
      type: "roles"
      config_version: 2

    admin:
      cluster_permissions:
        - "*"
      index_permissions:
        - index_patterns:
            - "*"
          allowed_actions:
            - "*"
      tenant_permissions:
        - tenant_patterns:
            - "admin_tenant"
          allowed_actions:
            - "kibana_all_read"
            - "kibana_all_write"

    fluentbit:
      description: "Provide the permissions for the fluentbit logger"
      cluster_permissions:
        - cluster:monitor/*
      index_permissions:
        - index_patterns:
            - "fluentbit-*"
          allowed_actions:
            - "crud"
            - "create_index"

  roles_mapping.yml: |
    ---
    _meta:
      type: "rolesmapping"
      config_version: 2

    admin:
      reserved: false
      backend_roles:
        - "admin"

    all_access:
      reserved: false
      backend_roles:
        - "admin"
      description: "Maps admin to all_access"

    own_index:
      reserved: false
      users:
        - "*"
      description: "Allow full access to an index named like the username"

    kibana_server:
      reserved: true
      users:
        - "kibanaserver"
      description: "Maps kibanaserver to kibana_server"

    kibana_user:
      reserved: false
      backend_roles:
        - "kibanauser"
      description: "Maps kibanauser to kibana_user"

    logstash:
      reserved: false
      backend_roles:
        - "logstash"

    fluentbit:
      reserved: false
      backend_roles:
        - "fluentbit"

    readall:
      reserved: false
      backend_roles:
        - "readall"

    manage_snapshots:
      reserved: false
      backend_roles:
        - "snapshotrestore"

  tenants.yml: |
    ---
    _meta:
      type: "tenants"
      config_version: 2

    admin_tenant:
      description: "Tenant for admin"
      reserved: false
      hidden: false

  action_groups.yml: |
    ---
    _meta:
      type: "actiongroups"
      config_version: 2