# Traefik Helm Chart values.
#
# Complete documentation on all available parameters is in the default file:
# https://github.com/traefik/traefik-helm-chart/blob/master/traefik/values.yaml.
---

deployment:
  # -- Number of pods of the deployment (only applies when kind == Deployment)
  replicas: 2
{% if k3s_enable_service_mesh is sameas true %}
  # Automatic proxy injection: https://linkerd.io/2.12/features/proxy-injection/
  podAnnotations:
    linkerd.io/inject: ingress
    config.linkerd.io/skip-outbound-ports: "443"
{% endif %}

# Set a specific load balancer ip address for the ingress service
service:
  spec:
    loadBalancerIP: {{ k3s_ingress_external_ip }}

# Disable the default IngressRoute to the dashboard (we'll create our own)
ingressRoute:
  dashboard:
    enabled: false

# Enable cross namespace references
providers:
  kubernetesCRD:
    enabled: true
    allowCrossNamespace: true

  kubernetesIngress:
      publishedService:
          enabled: true

# Define a dedicated metrics service for use with the Prometheus ServiceMonitor
metrics:
  prometheus:
    service:
      enabled: true

# Enables access logs (see https://doc.traefik.io/traefik/observability/access-logs/)
logs:
  access:
    # Enable access log
    enabled: true
    # Generate logs formatted in json
    format: json
