# This defines the Prometheus ServiceMonitor for scraping Longhorn's metrics endpoint.
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: longhorn-service-monitor
  namespace: {{ k3s_longhorn_namespace }}
  labels:
    app: longhorn-manager
    release: kube-prometheus-stack
spec:
  endpoints:
    - port: manager
      interval: {{ longhorn_metrics_scrape_interval | default('30s') }}
  namespaceSelector:
    matchNames:
      - {{ k3s_longhorn_namespace }}
  selector:
    matchLabels:
      app: longhorn-manager
