# This defines the Prometheus ServiceMonitor for scraping Traefik's metrics service.
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: traefik-service-monitor
  namespace: {{ k3s_traefik_namespace }}
  labels:
    app: traefik
    release: kube-prometheus-stack
spec:
  endpoints:
    - port: metrics
      path: /metrics
      interval: {{ traefik_metrics_scrape_interval | default('30s') }}
  namespaceSelector:
    matchNames:
      - {{ k3s_traefik_namespace }}
  selector:
    matchLabels:
      app.kubernetes.io/name: traefik
      app.kubernetes.io/component: metrics