# Traefik can be configured to provide basic HTTP authentication (see https://doc.traefik.io/traefik/middlewares/http/basicauth/)
#
# Passwords must be hashed using MD5, SHA1, or BCrypt. The `htpasswd` utility can be used to generate passwords.
# Note that, in a kubernetes secret, the user:password string pair must be base64 encoded.
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ basic_auth_name }}-secret
  namespace: {{ basic_auth_namespace }}
type: Opaque
stringData:
  users: |
    {{ basic_auth_htpasswd_pair }}

---
# Traefik's BasicAuth middleware
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ basic_auth_name }}
  namespace: {{ basic_auth_namespace }}
spec:
  basicAuth:
    secret: {{ basic_auth_name }}-secret
